body
{
    margin: 0;
padding:0;
background:rgb(90, 101, 250);
font-size:16px;
color:rgb(244, 244, 250);
font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.Login-Box
{
    position: relative;
    margin: 5% auto;
    height: 400px;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.6);
}

.Left-Box
{
    position: absolute;
    top:250;
    left:600;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
}

h1
{
margin: 0 0 20px 0;
font-weight: 300;
font-size: 28px;
}

input[type="text"],
input[type="password"]
{
    display:block;
    box-sizing:border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: purple;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;
    transition: 0.2s ease;
}

input[type="submit"]
{
    margin-bottom: 28px;
    width: 120px;
    height: 32px;
    background: green;
    border:navajowhite;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    font-weight:500;
    text-transform: uppercase;
    transition: 0.2s ease:
    cursor:pointer;
}
 input[type="submit"]:hover,
 input[type="submit"]:focus
 {
     background:#ff5722;
     transition:0.2s ease;
 }
